p = f.label :location, 'Место проведения'
p = f.text_field :location

p = f.label :start_date, 'Дата и время начала'
p = f.datetime_select :start_date

p = f.label :end_date, 'Дата и время окончания'
p = f.datetime_select :end_date