a.banner href="https://obraz.tver.ru/index.php/2247-plan-osnovnykh-meropriyatij-po-provedeniyu-v-gorode-tveri-goda-pedagoga-i-nastavnika" target="_blank" title="Год педагога и наставника"
  img src="/gpin.jpg" alt="Год педагога и наставника"